In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({'Colors': np.random.choice(['red', 'blue', 'yellow', 'purple', 'green', 'orange'], 100)})
df.head()

   Colors
0   green
1     red
2     red
3  purple
4  purple

In [8]:
category_mapping = {
    'red': 'primary',
    'blue':' primary',
    'yellow': 'primary',
    'purple': 'secondary',
    'green': 'secondary',
    'orange': 'secondary'
}

In [9]:
df['Binned Colors'] = df['Colors'].map(category_mapping)
df.head()

   Colors Binned Colors
0   green     secondary
1     red       primary
2     red       primary
3  purple     secondary
4  purple     secondary